certifi==2019.6.16
chardet==3.0.4
Click==7.0
cssselect==1.0.3
defusedxml==0.6.0
Flask==1.1.1
Flask-Login==0.4.1
flask-paginate==0.5.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsmin==2.2.2
lxml==4.4.0
MarkupSafe==1.1.1
pkg-resources==0.0.0
pycurl==7.43.0.3
pyquery==1.4.0
pyspider==0.3.10
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
tblib==1.4.0
tornado==4.5.3
u-msgpack-python==2.5.1
urllib3==1.25.3
Werkzeug==0.15.5
WsgiDAV==2.4.1